:global(#app) {
    .wrapper {
        width: 100%;
        margin-top: 1rem;

        .list-icon {
            padding-left: 0;
        }

        .delete-btn {
            width: 36px;
            height: 36px;
            font-size: 1rem;
            display: flex;
            align-items: center;

            i {
                height: 0.5rem;
            }

            &:hover {
                background-color: #db2828;
            }
        }

        .row {
            display: flex;
            justify-content: space-between;
        }
    }
}
