@use "../../../utils";

:global(#app) {
    .inline {
        display: flex;
        gap: 1rem;
    }

    .actions {
        @include flex-center(end);
        column-gap: 1rem;
        height: 48px;
    }
}
