@use "colors";

#app body {
    font-family: "Lato", Arial, sans-serif;
    max-height: 100vh;
    overflow: hidden;
}

body {
    color: var(--dark-primary) !important;

    & ::-webkit-scrollbar-track {
        border-radius: 5px !important;
    }
}

a {
    text-decoration: none !important;
    color: unset !important;
}
