@use "colors";

@font-face {
    font-family: "Staatliches-Regular";
    src: local("Staatliches-Regular"),
        url(./resources/fonts/Staatliches-Regular.ttf) format("truetype");
}

#app body {
    font-family: "Lato", Arial, sans-serif;
}

body {
    color: var(--dark-primary) !important;
}

a {
    text-decoration: none !important;
    color: unset !important;
}
