#root .wrapper-sequence-editor {
    .header {
        .title {
            margin-right: 0.6rem;
        }

        .icon-btn {
            margin-left: 0.7rem;
            width: 36px;
            height: 36px;
            margin-top: 1px;
        }

        .input {
            font-size: 1rem;
        }
    }

    .content {
        width: 100%;
    }

    .save-btn {
        margin-right: 0.5rem;
    }

    .add-action-btn {
        width: 160px;
    }
}
